.description {
    width: 405px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: grey 1px solid;
}

.--title {
    color: grey;
    font-size: 11px;
    font-family: var(--mono);
}

.--content {
    font-size: 11px;
    font-family: var(--mono);
}

.--image {
    padding-left: 3px;
}