:root {
  --green: #42FF60;
  --mono: "Helvetica-Monospaced";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: "Helvetica-Monospaced";
  /* TODO: storybook needs public, next does not*/
  src: url("/public/fonts/Helvetica/Helvetica-Monospaced.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}